[submodule "fateboard"]
	path = fateboard
	url = git@github.com:zmmwl/FATE-Board.git 
	branch = v1.9.1
[submodule "eggroll"]
	path = eggroll
	url = git@github.com:zmmwl/eggroll.git
	branch = v2.4.6
[submodule "fateflow"]
	path = fateflow
	url = git@github.com:zmmwl/FATE-Flow.git
	branch = v1.9.1
